.Home-css{
  background-image: linear-gradient(rgb(104, 184, 192),rgb(87, 120, 161));
  width:auto;
  height: 800px;
  margin: 10px;
  text-align: center;
  align-items: center;
  
}

.lg{
  background-color: black;
  height: 30px;
  width: 100px;
  border: 2px solid rgb(81, 78, 78);
  border-radius: 5px ;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.box{
  background-color: antiquewhite;
  border-radius: 15px;
  padding: 20px;
  color: #100e0f;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.inp{
  width: 250px;
  height: 20px;
  border: 5px solid blue;
  border-radius: 15px;
}
.lg:hover{
  transition: 0.5s;
  background-color: white;
  color: #100e0f;

}

.SignIn{
  margin: auto;
  height: 350px;
  width: 30%;
  margin-top: 100px;
  display: flex;
  background-color: rgb(87, 120, 161);
  color:aliceblue;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}